In [1]:
import pandas as pd
import typing
import matplotlib.pyplot as plt
import random
import src.distributions
import src.weekly

In [7]:
from pathlib import Path
file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')

In [15]:
food = pd.read_csv(r'C:\DESKTOP\PythonEconRepoOnDesktop\ECOPY_23241\data\chipotle.tsv', sep='\t')
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [17]:
def change_price_to_float(input_df):
    df = input_df.copy()
    df.item_price = df.item_price.str[1:]
    df.item_price = df.item_price.astype(float)
    return df

change_price_to_float(food)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [23]:
def items_and_prices(input_df):
    df = input_df.copy()
    df = df.loc[:, ['item_name', 'item_price']]
    return df

def unique_items_over_ten_dollars(input_df):
    df = change_price_to_float(food)
    df = df[df.item_price>10]
    return df

pd.unique(unique_items_over_ten_dollars(food)[['item_name', 'choice_description', 'item_price']])

C:\Users\gyeng\AppData\Local\Temp\ipykernel_16728\3478217075.py:11: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  pd.unique(unique_items_over_ten_dollars(food)[['item_name', 'choice_description', 'item_price']])

ValueError: could not broadcast input array from shape (1130,3) into shape (1130,)

In [26]:
def items_starting_with_s(input_df):
    df = input_df.copy()
    df = df[df['item_name'].str.startswith('S')]
    return df[['item_name']]

In [28]:
def every_column_except_last_two(input_df):
    df = change_price_to_float(food)
    return df.iloc[:, :-2]

every_column_except_last_two(food)

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [35]:
def generate_quartile(input_df):
    df = change_price_to_float(input_df)
    bins = [0, 9.99, 19.99, 29.99, float('inf')]
    labels = ['low-cost', 'medium-cost', 'high-cost', 'premium']
    df['Quartile'] = pd.cut(df['item_price'], bins=bins, labels=labels, right=False)
    return df

def average_price_in_quartiles(input_df):
    df = generate_quartile(input_df)
    df2 = df.groupby(['Quartile'])['item_price'].mean()
    return df2

def minmaxmean_price_in_quartile(input_df):
    df = generate_quartile(input_df)
    df2 = df.groupby('Quartile').agg({'item_price': ['min', 'max', 'mean']}) 
    return df2

minmaxmean_price_in_quartile(food)

C:\Users\gyeng\AppData\Local\Temp\ipykernel_16728\3240303806.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df2 = df.groupby('Quartile').agg({'item_price': ['min', 'max', 'mean']})

            item_price
                   min    max       mean
Quartile
low-cost          1.09   9.39   5.869593
medium-cost      10.50  18.50  11.853084
high-cost        21.96  27.75  23.181951
premium          32.94  44.25  36.031667

In [45]:
import pandas as pd
import typing
import matplotlib
import random
from  src.utils import distributions
import src.weekly

In [57]:
def gen_uniform_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    random.seed(42)
    def genList():
        a = [distribution.gen_rand() for i in range(length_of_trajectory)]
        sum = 0
        cumsum = [sum := (sum + s) / (a.index(s) + 1) for s in a]
        return cumsum

    return [genList() for i in range(number_of_trajectories)]

In [58]:
gen_uniform_mean_trajectories(distributions.UniformDistribution(random, 0, 1), 2, 100)

[[0.6394267984578837,
  0.33221877684027534,
  0.20241603173646486,
  0.1064066924713219,
  0.16857558132706685,
  0.14087917812499637,
  0.14757982083283452,
  0.029314831682781334,
  0.050137405707561304,
  0.007993462514563166,
  0.02060285793801514,
  0.04382984550344813,
  0.005412755014408596,
  0.01458931469293265,
  0.04429825016483039,
  0.03682748317300294,
  0.015133417953747038,
  0.03357772787942532,
  0.044368851818802735,
  0.0025433805748431874,
  0.03849345868607862,
  0.03348331153065025,
  0.016249296871680093,
  0.007155366528477568,
  0.03857473754941035,
  0.014429587794693733,
  0.0039694604138830235,
  0.0035959227588338227,
  0.029347941003665296,
  0.021102465745685212,
  0.026717120613550496,
  0.02363902835335526,
  0.016965670297213818,
  0.029120042184605427,
  0.01164726912551311,
  0.015657997233298335,
  0.022839531391521437,
  0.01687787588830967,
  0.02252781477433556,
  0.01499699900077744,
  0.0175504593955049,
  0.001508924834551598,
  0.005335051174095312,
  0.006698250335822784,
  0.0019220050502100064,
  0.0051024541611139175,
  0.0022575294376775113,
  0.0058381485947452,
  0.013092297813451946,
  0.007558489535670724,
  0.007406656012795164,
  0.004171417053543901,
  0.00511602337929542,
  0.017440196501699805,
  0.012099556031787152,
  0.011093402887478131,
  0.0031970535278171073,
  0.012626273301347694,
  0.0029835384248012896,
  0.006373983003040818,
  0.016326185797371082,
  0.01058590234921716,
  0.009008502319426404,
  0.010837855520457828,
  0.013133688857081037,
  0.011956569703080695,
  0.003597084203987837,
  0.0005249607074709646,
  0.004579391431399318,
  0.0038902895343871716,
  0.0030263821566297693,
  0.01313800134016228,
  0.012185008600175769,
  0.00441706607295478,
  0.008798076418237797,
  0.005321447072090817,
  0.011946351127436809,
  0.0060358744066004565,
  0.0034293169734766196,
  0.0031257103083432505,
  0.006969059808290051,
  0.003289154491844211,
  0.007082833068860057,
  0.010772687103230202,
  0.004825566967572088,
  0.002606352629358784,
  0.011495907576143322,
  0.005920706832415998,
  0.0010879788652383134,
  0.0005356039365552543,
  0.001210821255903455,
  0.006833226771293407,
  0.008590457969185564,
  0.0045824513273284,
  0.0007169490260977425,
  0.00398266912013161,
  0.010310351024332252,
  0.005504333633912951,
  0.009864471830783143,
  0.008706441740652812],
 [0.011481021942819636,
  0.36610142065150714,
  0.3492705965593606,
  0.22156023174203893,
  0.09767708433891634,
  0.12310648048645406,
  0.03352266486890436,
  0.05853598944225117,
  0.056917743974606395,
  0.10107336714956865,
  0.08881148250252388,
  0.02935004443780122,
  0.04076431980677689,
  0.01567258573835059,
  0.061886695005544744,
  0.05827532905264448,
  0.02098353650007514,
  0.03666294618700446,
  0.03398069250658825,
  0.009340998052811153,
  0.036754847529902976,
  0.026187903529524034,
  0.03499192965913401,
  0.023556066743929644,
  0.000965118514874926,
  0.012504660596905692,
  0.0011844964067680738,
  0.0332243968811209,
  0.03144642326566569,
  0.02877039842089484,
  0.01084788786527601,
  0.002149157948733236,
  0.026671477489477995,
  0.028635909493749178,
  0.0032654103303322276,
  0.013590440934637389,
  0.0022379178217032704,
  0.020074739028393022,
  0.020151517136804638,
  0.0037135745409141857,
  0.011682828113162085,
  0.013368724324002525,
  0.006475008215443294,
  0.01997518293865229,
  0.00984695829198976,
  0.004818373124653735,
  0.011576903444768341,
  0.015448082761140512,
  0.004420390737772172,
  0.006322733640773343,
  0.019636707652973883,
  0.012875283947931295,
  0.008508969204951611,
  0.009742311300750782,
  0.0023772092212548455,
  0.004054902611657361,
  0.006002464294019521,
  0.010246744530194014,
  0.0040739233411317115,
  0.00373818846321152,
  0.0012251028602007221,
  0.010198839679520962,
  0.003795882912550402,
  0.01420649837372935,
  0.013443721517345783,
  0.0012772889606969579,
  0.0035713719899954054,
  0.009890428680680529,
  0.0032482208123350595,
  0.0019365724219622864,
  0.013203532577501878,
  0.008114536470872033,
  0.00658610359976255,
  0.01069196659311508,
  0.010909186191463447,
  0.0026489355335965943,
  0.0012932435034080508,
  0.005542877255253661,
  0.005431917725002208,
  0.005905707322020965,
  0.009073846380023107,
  0.008322419435040545,
  0.01195768229880731,
  0.0013139946839376927,
  0.004752179726896546,
  0.004000637036300695,
  0.009950266360794158,
  0.002938711366830452,
  0.002170197975366764,
  0.005008708286761096,
  0.004691102726606212,
  0.0030786548629733335,
  0.002719194653172837,
  0.009850902063076443,
  0.004768227864384562,
  0.009022055548189741,
  0.005766467711319977,
  0.0005750489513898083,
  0.010099570882465823,
  0.008461271559624178]]

In [53]:
def avg_price(input_df):
    return change_price_to_float(input_df).item_price.mean()

avg_price(food)

7.464335785374297