In [38]:
import pathlib
import pandas as pd
import typing
import statsmodels as sm

from pathlib import Path

sp500 = pd.read_parquet(Path.cwd().parent.parent.joinpath('data', 'sp500.parquet'), engine='fastparquet')

ff_factors = pd.read_parquet(Path.cwd().parent.parent.joinpath('data', 'ff_factors.parquet'), engine='fastparquet')

df = sp500.merge(ff_factors, left_on='Date', right_on='Date')

df['Excess_Return'] = df['Monthly Returns']-df['RF']

df.sort_values(by='Date', inplace=True)
df['ex_ret_1'] = df.groupby('Symbol')['Excess_Return'].shift(-1)

df.dropna(subset=['ex_ret_1'], inplace=True)
df.dropna(subset=['HML'], inplace=True)

amzn_df = df[df.Symbol == 'AMZN']
amzn_df.drop(columns=["Symbol"], inplace=True)

C:\Users\gyeng\AppData\Local\Temp\ipykernel_8648\2609112779.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amzn_df.drop(columns=["Symbol"], inplace=True)

In [37]:
amzn_df

,Monthly Returns,Mkt-RF,SMB,HML,RF,Excess_Return,ex_ret_1
Date,,,,,,,
2000-01-31,-0.984367,-0.0474,0.0577,-0.0188,0.041,-1.025367,0.023796
2000-02-29,0.066796,0.0245,0.2136,-0.0959,0.043,0.023796,-0.074223
2000-03-31,-0.027223,0.0520,-0.1720,0.0813,0.047,-0.074223,-0.174575
2000-05-31,-0.124575,-0.0442,-0.0605,0.0475,0.050,-0.174575,-0.288383
2000-06-30,-0.248383,0.0464,0.1284,-0.0842,0.040,-0.288383,-0.218396
...,...,...,...,...,...,...,...
2022-05-31,-0.032764,-0.0034,-0.0183,0.0839,0.003,-0.035764,-0.122459
2022-06-30,-0.116459,-0.0843,0.0210,-0.0597,0.006,-0.122459,-0.079615
2022-08-31,-0.060615,-0.0377,0.0140,0.0029,0.019,-0.079615,-0.127622
2022-09-30,-0.108622,-0.0935,-0.0081,0.0005,0.019,-0.127622,-0.116451
2022-10-31,-0.093451,0.0783,0.0006,0.0801,0.023,-0.116451,-0.086595